* { word-wrap: break-word; }
body {background: #fff;overflow-x: hidden;}
body, input, button, select, textarea { font-size: 14px;font-family: -apple-system,Microsoft YaHei,arial,PingFang SC; color: #000000;outline: none; }
textarea { resize: none; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
table { empty-cells: show; border-collapse: collapse; }
caption, th { text-align: left; font-weight: 400; }
ul li, .xl li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
em, cite, i { font-style: normal; }
a { color:#333; text-decoration: none; }
a:hover { text-decoration: none; }
a img { border: none; }
label { cursor: pointer; }
@font-face{font-family: 'zh189';src: url('Alibaba-PuHuiTi-Regular.ttf');}
.z { float: left; } .y { float: right; }
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .cl { zoom: 1; }
.hidefocus { outline: none; }
.input_none{background:transparent;white-space:nowrap;outline:none;border:0}
.mt0 {margin-top:0px !important;}
.mb0 {margin-bottom:0px !important;}
.mt20 {margin-top:20px !important;}
.mb10 {margin-bottom:5px !important;}
.mb20 {margin-bottom:20px !important;}
.mt30 {margin-top:30px !important;}
.mb30 {margin-bottom:30px !important;}
.mt40 {margin-top:40px !important;}
.mb40 {margin-bottom:40px !important;}
.mt50 {margin-top:50px !important;}
.mb50 {margin-bottom:50px !important;}
.pt0 {padding-top:0px !important;}
.pb0 {padding-bottom:0px !important;}
.pt20 {padding-top:20px !important;}
.pb20 {padding-bottom:20px !important;}
.pt30 {padding-top:30px !important;}
.pb30 {padding-bottom:30px !important;}
.pt40 {padding-top:40px !important;}
.pb40 {padding-bottom:40px !important;}
.pt50 {padding-top:50px !important;}
.pb50 {padding-bottom:50px !important;}
.wp{max-width: 1280px;margin:0 auto;}
.f_g{color: #00ce84!important;}
.bg_c{background:-webkit-linear-gradient(left,#17e66c,#10c55b);background:-o-linear-gradient(left,#17e66c,#10c55b);background:-moz-linear-gradient(left,#17e66c,#10c55b);background:linear-gradient(left,#17e66c,#10c55b)}
.list_bg{background: #f5f5f5;}

/* public::header */
#hd{width: 100%;height:63px;background:rgba(0, 0, 0, 0.5);line-height:63px;position: fixed;top: 0;left: 0;z-index: 99;box-shadow: 0 2px 15px rgba(0,0,0,0.2);}
#hd .wp{height:63px;}
#hd .logo_hd{float:left;overflow:hidden;height:63px}
#hd .logo_hd a{display:block}
#hd .logo_hd img{height:45px;vertical-align: middle;}
#hd ul{height:63px;text-align: center;}
#hd li{display: inline-block;}
#hd li a{position:relative;display:block;margin:0 15px;padding:0 10px;color:#fff;font-size:28px;line-height:60px;font-family: "zh189";font-weight: 100;text-shadow: 0 2px 3px rgba(0,0,0,0.2);}
#hd li a:hover,#hd li.current a{color:#fff}
#hd li a:hover em,#hd li.current a em{position:absolute;top:0;left:0;width:100%;height:6px;background:#fff}
#hd .hl_misic{position: absolute;top:0;left: 20px;}
#hd .hl_misic #audioBtn{margin-top: 12px;display: block;}
#hd .userbox{position: absolute;top:0;right: 20px;color: #fff;}
#hd .userbox .time{display: inline-block;}
#hd .userbox .userlogin{display: inline-block;}
#hd .userbox .login{color: #fff;display: inline-block;background: url(../img/user.png) 100% 50% no-repeat;padding-right: 40px;}
#hd .userbox .user{color: #fff;display: inline-block;background: url(../img/arrwd.gif) 100% 50% no-repeat;padding-right: 16px;}
#hd .userbox .user a{color: #fff;}
#hd .userbox .loginout{display: none;box-shadow: 0 2px 5px rgba(0,0,0,0.08);position: absolute; right: 10px; top: 63px;background: #fff;color: #51ad7a!important;height: 30px;line-height: 30px;padding:0 15px;text-align: center;border-radius: 3px;}
#hd .userbox .user:hover .loginout{display: block;}

.navFix{background: #51ad7a;}

.indexpart01{height:999px;background: url(../img/bg01.jpg) center 0 no-repeat;position: relative;min-width: 1920px;margin: 0 auto;}
.indexpart02{height: 732px;background: url(../img/bg02.jpg) center 0 no-repeat;min-width: 1920px;margin: 0 auto;}
.indexpart03{height: 1102px;background: url(../img/bg03.jpg) center 0 no-repeat;min-width: 1920px;margin: 0 auto;}
.indexpart04{height: 1461px;background: url(../img/bg04.jpg) center 0 no-repeat;min-width: 1920px;margin: 0 auto;}
.indexpart05{height: 919px;background: url(../img/bg05.jpg) center 0 no-repeat;min-width: 1920px;margin: 0 auto;}
.listtopbg{height:390px;background: url(../img/view_top.jpg) center 0 no-repeat;min-width: 1920px;margin: 0 auto;}
.footbg{height:94px;background: url(../img/foot_top.png) center 0 no-repeat;min-width: 1920px;margin: 0 auto;}

.indexpart01 .dahuli{position: absolute;right: 160px;bottom: 100px;}
.indexpart01 .dahuli img{width:470px;}

.indexpart01 .mao{position: absolute;right: 480px;top: 130px;}
.indexpart01 .mao img{width:180px;}

.indexpart01 .xiong{position: absolute;left: 330px;bottom: 270px;}
.indexpart01 .xiong img{width: 290px;}

.indexpart01 .top_mask{position: absolute;left: 0px;bottom:0px;}
.indexpart01 .top_mask img{width: 1920px;}

.tit{text-align: center;}
.tit02{margin-bottom: 45px;padding-top:25px;}
.tit03{margin-bottom: 45px;padding-top:5px;}
.tit04{margin-bottom: 45px;padding-top:5px;}
.tit05{margin-bottom: 45px;padding-top: 20px;}

.hl_tit{}
.hl_tit h3{font-size:32px;font-family: "zh189";float: left;color: #ffffff;font-weight: 100;}
.hl_tit .more{background: url(../img/more.png) center 0 no-repeat;width: 135px;height: 40px;float: right;}

.hl_logo{width: 685px;margin: 0 auto;padding-top: 260px;}
.playbox{width: 140px;margin: 0 auto;padding-top: 50px;}
.playbox img{width: 100%;}
.yybox{position: relative;z-index: 1;}
.yybox a{display: inline-block;}
.yybox p{color: #fff;font-size: 16px;}
.yybox p span{font-weight: 600;font-size: 18px;}

.hl_box01{width: 595px;position: relative;}
.hl_box02{width: 660px;}
.hl_box03{width: 625px;}
.hl_box04{width: 645px;}
.hl_box02 .hd ul li{float: left;width: 92px;height: 40px;line-height: 35px;font-weight: 100;font-size:32px;font-family: "zh189";text-align: center;cursor:pointer;}
.hl_box02 .hd ul li.on{background: #de5f35;color: #fff;border-radius: 20px;;}
.hl_box02 .hd .more{background: url(../img/more.png) center 0 no-repeat;width: 135px;height: 40px;float: right;}

.hl_box03 img{width: 623px;height: 393px;}
.video_box{margin-top: 20px;}
.pic_box{margin-top: 20px;}

.gg_box ul{margin-top: 30px;}
.gg_box ul li{float:left;width:320px; height: 110px;position:relative;background:#fff;border-radius: 5px;margin-right: 20px;margin-bottom: 20px;box-shadow: 0 2px 5px rgba(0,0,0,0.08);}
.gg_box ul li:nth-child(2n){margin-right: 0;}
.gg_box ul li .deanjxinfo{padding: 13px;}
.gg_box ul li .deanjxinfo h5{font-size:18px;height:25px;color:#296977;line-height:25px;overflow:hidden;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.gg_box ul li .deanjxinfo h5 a{color:#296977}
.gg_box ul li .deanjxinfo p{color: #232323;height: 40px;overflow: hidden;margin-bottom: 10px;font-size: 13px;}
.gg_box ul li .deanjxinfo .deanir{color: #959b9a;font-size: 12px;}

.hl_box01 .hl_slide1{width:595px;overflow:hidden;} 
.hl_box01 .hl_slide1 .swiper-slide{width:595px;overflow: hidden;}
.hl_box01 .hl_slide1 .swiper-slide img{width: 595px;height: 312px;border-radius: 5px;}
.hl_box01 .swiper-pagination{width:100%;bottom:-20px;z-index: 1;position: absolute;}
.hl_box01 .swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;background-color:#dfdfdf;width:54px;height:4px;opacity:1;border-radius:0}
.hl_box01 .swiper-pagination-bullets .swiper-pagination-bullet-active{background-color:#43ad76;outline: none;}

.tongren{width: 623px;height: 393px;position: relative;}
.tongren .item{display:block;position:absolute;overflow:hidden}
.tongren .item-1{top:0;left:0;width:212px;height:393px}
.tongren .item-2{top:0;left:220px;width:208px;height:234px;}
.tongren .item-3{top:0;left:435px;width:208px;height:190px;}
.tongren .item-4{top:155px;left:220px;width:425px;height:238px;}
.tongren .item img{display:block;width:100%;height:100%;-o-object-fit:cover;object-fit:cover}

/* sliderBox */
.mhy-main-page .sliderBox{width:1280px;height:503px;margin:0 auto;position:absolute; left:50%;margin-left:-640px;}
.mhy-main-page .swiper-tese{width:1280px;height:503px;overflow:hidden;} 
.swiper-tese .swiper-slide{width:893px;height:503px;overflow: hidden;}
.swiper-tese .swiper-slide img{display:block;border-radius: 15px;}
.sliderBox .swiper-button-prev2{position: absolute;top:50%;margin-top:-25px;left: -108px;width:63px;height:120px;background:url(../img/left.png) no-repeat;outline: none;cursor: pointer;}
.sliderBox .swiper-button-next2{position: absolute;top:50%;margin-top:-25px;right: -108px;width:63px;height:120px;background:url(../img/right.png) no-repeat;outline: none;cursor: pointer;}
.sliderBox .swiper-pagination2{    width: 100%;bottom:-43px;position: absolute;text-align: center;}
.sliderBox .swiper-pagination2 .swiper-pagination-bullet{  width:14px;height:14px;background:#a2c88f;margin:0px 10px;opacity: .9;}
.sliderBox .swiper-pagination2 .swiper-pagination-bullet-active{ background:#4b7835;outline: none; }

/* sliderBox */
.hl_sliderBox{width:1280px;margin:0 auto;position:absolute; left:50%;margin-left:-640px;}
.hl_sliderBox .hl_slide3{width:1280px;overflow:hidden;} 
.hl_slide3 .swiper-slide{width:406px;overflow: hidden;}
.hl_slide3 .swiper-slide img{border-radius: 13px;}
.hl_slide3 .swiper-slide .hldongw{width: 406px;height: 64px;background: #fff;border-radius: 5px;margin-top: 33px;position: relative;}
.hl_slide3 .swiper-slide .hldongw .dw01{width: 96px;height: 96px;background:url(../img/huli.png) no-repeat;display: block;position: absolute;top:-25px}
.hl_slide3 .swiper-slide .hldongw .dw02{width: 96px;height: 96px;background:url(../img/laohu.png) no-repeat;display: block;position: absolute;top:-25px}
.hl_slide3 .swiper-slide .hldongw .dw03{width: 96px;height: 96px;background:url(../img/lili.png) no-repeat;display: block;position: absolute;top:-25px}
.hl_slide3 .swiper-slide .hldongw p{margin-left: 96px;color: #093d2e;padding-top: 10px;padding-right: 10px;}
.hl_sliderBox .swiper-button-prev2{position: absolute;top:50%;margin-top:-65px;left: -108px;width:63px;height:120px;background:url(../img/left.png) no-repeat;outline: none;cursor: pointer;}
.hl_sliderBox .swiper-button-next2{position: absolute;top:50%;margin-top:-65px;right: -108px;width:63px;height:120px;background:url(../img/right.png) no-repeat;outline: none;cursor: pointer;}

.hl_pic_kcbiox{margin-top: 15px;}
.hl_pic_kcbiox ul li{ float:left;margin-right: 13px; width:310px;}
.hl_pic_kcbiox ul li:nth-child(4n){margin-right: 0;}
.hl_pic_kcbiox .hl_pic_kcpic{position: relative;box-sizing:border-box; }
.hl_pic_kcbiox .hl_pic_kcpic a{ display:block; position:relative; width:310px; height:190px; overflow:hidden;border-radius: 5px;}
.hl_pic_kcbiox .hl_pic_kcpic a img{ width:100%; height:100%;transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s;}
.hl_pic_kcbiox .hl_pic_kcnrbox{ padding:20px; width:310px; height:190px; background:rgba(0,0,0,0.7); font-size:12px; color:#fff; font-weight:normal; position:absolute; top:0; left:0; opacity:0; -webkit-transition:all 0.3s linear;-o-transition:all 0.3s linear;-ms-transition:all 0.3s linear;-moz-transition:all 0.3s linear;transition:all 0.3s linear;}
.hl_pic_kcbiox .hl_pic_kcpic a:hover .hl_pic_kcnrbox{ opacity:1;}
.hl_pic_kcbiox .hl_pic_kcpic a:hover img{transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2);}
.hl_pic_kcbiox .hl_pic_kcpic a::before{content:'';position:absolute;top:0px;right:0px;bottom:0px;left:0px;background:rgba(51, 51, 51, 0.6);opacity:0;transition:all 0.25s;-webkit-transition:all 0.25s;}
.hl_pic_kcbiox .hl_pic_kcpic a span{width:140px;height:140px;position:absolute;top:50%;left:50%;margin-top:-53px;margin-left:-54px;float:left;opacity:0;filter:alpha(opacity=0);-webkit-transition:all 0.25s;-o-transition:all 0.25s;transition:all 0.25s;background:url(../img/play1.png) no-repeat;}
.hl_pic_kcbiox .hl_pic_kcpic a:hover span{opacity:1;filter:alpha(opacity=100);}
.hl_pic_kcbiox .hl_pic_kcnrbox h5{ font-size:12px; font-weight:normal; margin-bottom:15px; height:42px; line-height:23px; overflow:hidden;}
.hl_pic_kcbiox .hl_pic_clicklinks{ width:80px; height:28px; line-height:28px; background:#D32F2F; text-align:center; margin:10px auto; font-size:12px; color:#fff;}
.hl_pic_kcbiox .hl_pic_kcpicb h5{ height:50px; line-height:26px; margin-top:10px; overflow:hidden;}
.hl_pic_kcbiox .hl_pic_kcpicb h5 a{ font-size:16px; color:#fff; font-weight:normal;}
.hl_pic_kcbiox .hl_pic_kcpicbb span{ display:block;height:25px; line-height:25px; font-size:12px; color:#999; font-family:Arial, Helvetica, sans-serif;}
.hl_pic_kcbiox .hl_pic_zjr{ float:left; width:80px;  overflow:hidden;}
.hl_pic_kcbiox .hl_pic_zjr  a:hover{ color:#D32F2F;}

.hl_pic_kcbiox3 ul li{width: 418px;}
.hl_pic_kcbiox3 ul li:nth-child(3n){margin-right: 0;}
.hl_pic_kcbiox3 ul li:nth-child(4n){margin-right: 13px}
.hl_pic_kcbiox3 .hl_pic_kcpic a{ width:418px; height:256px; }
.hl_pic_kcbiox3 .hl_pic_kcnrbox{ width:418px; height:256px;}
.hl_pic_kcbiox3 .hl_pic_kcpicb{ margin-bottom: 15px;}
.hl_pic_kcbiox3 .hl_pic_kcpicb h5{height: 26px;}
.hl_pic_kcbiox3 .hl_pic_kcpicb h5 a{color:#333; }



.hl_memebr01{position: relative;}
.hl_memebr01::after{z-index: 1;content: ' ';width:1280px;height: 140px;background: #57893a;position: absolute;left:0;bottom: 60px;border-radius: 8px;}
.hl_memebr01 .cases{height: 230px;margin-top:20px!important;margin-left:25px!important;width: 1300px;position: relative;z-index: 2;overflow:visible!important;}
.hl_memebr01 .hl_picbox{overflow: hidden;height: 250px;}
.hl_memebr01 .prev,
.hl_memebr01 .next{ position:absolute; left:-20px; top:50%; margin-top:-25px; display:block; width:52px; height:52px; background:url(../img/right01.png) -56px 0 no-repeat;z-index: 3; }
.hl_memebr01 .next{ left:auto; right:-30px; background-position:0 0; }
	
.hl_memebr01 .designer{display:block;width:100%;height:100%;}
.hl_memebr01 .forum{width: 34px;height: 44px;position: absolute;top: 0;left:15px;z-index: 2;}
.hl_memebr01 .sp01{background:url(../img/sp01.png) 0 0 no-repeat;}
.hl_memebr01 .sp02{background:url(../img/sp02.png) 0 0 no-repeat;}
.hl_memebr01 .sp03{background:url(../img/sp03.png) 0 0 no-repeat;}
.hl_memebr01 .case{width:180px;height: 213px;float:left;position:relative;margin-right:30px;margin-bottom: 30px;background: #fff;border-radius: 8px;-webkit-transition:all .2s linear;transition:all .2s linear;box-shadow: 0 2px 8px rgba(0,0,0,0.4);}
.hl_memebr01 .case .designer-container{width:97px;height:97px;border:3px solid #57893a;border-radius:50%;margin:15px auto;position: relative;}
.hl_memebr01 .case .designer-container .nan{background: url(../img/nan.png) no-repeat;position: absolute;bottom: 0px;right: 4px;height: 22px;width: 22px;}
.hl_memebr01 .case .designer-container .nv{background: url(../img/nv.png) no-repeat;position: absolute;bottom: 0px;right: 4px;height: 22px;width: 22px;}
.hl_memebr01 .case .designer-container img{width:100%;height:100%;border-radius:50%;overflow:hidden;-webkit-transition:all .2s linear;transition:all .2s linear}
.hl_memebr01 .case .transverse-line{width:20px;height:3px;margin:12px auto;background:#d5d5d5;}
.hl_memebr01 .case p{font-size:14px;color:#afafaf;width:100%;line-height:25px;text-align:center;}
.hl_memebr01 .case .designer_box{background: #303030 url(../img/cardbg.png) no-repeat;padding-top: 22px;padding-bottom: 10px;border-radius: 8px;}
.hl_memebr01 .case .designer-name{font-size:14px;color:#fff;-webkit-transition:all .2s linear;transition:all .2s linear}
.hl_memebr01 .case .designer-level{font-size:12px;color:#909090;-webkit-transition:all .3s linear;transition:all .3s linear}
.hl_memebr01 .case .case-inner{width:100%;height:100%;display:block}
.hl_memebr01 .case .guanzhu{width: 137px;height: 32px;line-height: 32px;text-align: center;font-size: 20px;border-radius:18px;color: #fff;background: #de5f35;display: block;margin: 0 auto;margin-top: 8px;display: none;}
.hl_memebr01 li:hover{width: 200px!important;height: 240px;margin-top: -10px;position: relative;z-index: 2;margin-right:15px;margin-left: -15px;}
.hl_memebr01 li:hover .designer_box{background: #fff;padding-top: 0;}
.hl_memebr01 li:hover .designer-name{color:#57893a}
.hl_memebr01 li:hover .guanzhu{display: block;}


/* list */
.pagenav{height:40px;overflow:hidden;color:#848484;font-size:14px;padding-top:15px;line-height:40px}
.pagenav ul li{float:left;line-height:30px;height:30px}
.pagenav ul li a{color:#848484;}


.subHead{margin:0 auto;overflow:hidden;border-bottom:1px solid #dddddd}
.subHead .tit02{padding-top: 60px;}
.subHead ul{text-align: center;}
.subHead ul li{padding:0 20px;height:60px;transition:.2s all ease;text-align:center;line-height:60px;font-size:16px;border-bottom:7px solid #FFF;display: inline-block;}
.subHead ul .active{border-bottom:7px solid #446c32}

.pageview{background:#fff; position: relative;overflow: hidden;}
.pageview .viewHead{margin: 0 auto;overflow: hidden;border-bottom:1px solid #eee;}
.pageview .viewHead h2{ text-align: center;height:70px;font-size: 32px; margin: 56px auto 0px; }
.pageview .viewHead .notes{ text-align: center;height:30px;font-size: 14px;margin-bottom: 30px;color: #959595; }
.pageview .text_box{ width:1000px;padding:50px 100px 80px; margin:0 auto 0; font-size:18px;line-height: 36px;}
.pageview .text_box img{max-width: 100%;}


.videmenu {padding-bottom: 10px;border-bottom:1px solid #dddddd;margin-top: 15px;height:40px;}
.videmenu ul li{padding:0 20px;height:40px;text-align:center;line-height:40px;font-size:16px;float: left;background: #42ad75;border-radius: 20px;margin-right: 15px;}
.videmenu ul li a{color: #fff;}
.videmenu ul li:hover{background: #de5f35;}
.videmenu ul .active{background: #de5f35;}

.pageMain{margin-bottom: 100px;}
.pageMain .list li{ width:100%; height:169px;position: relative; border-bottom:1px solid #dddddd}
.pageMain .list li div{ max-width:1000px;
transition: all .6s ease;
-moz-transition: all .6s ease;
-webkit-transition: all .6s ease;
-o-transition: all .6s ease;
 height:126px;padding-top:62px; margin:0 auto;padding-left:98px;position: relative; }
.pageMain .list li:hover {background: #eee url(../img/list_bg.jpg) center 50% no-repeat;}
.pageMain .list li:hover span{ background:#ffffff; color:#333;}
.pageMain .list li:hover i{ opacity: 1; }
.pageMain .list li:hover div{ transform: translate(-10px,0);
	-ms-transform: translate(-10px,0);
	-moz-transform: translate(-10px,0);
	-webkit-transform: translate(-10px,0);
	-o-transform: translate(-10px,0); }
.pageMain .list div span{ transition: all .6s ease;-moz-transition: all .6s ease;-webkit-transition: all .6s ease;
-o-transition: all .6s ease;position: absolute;left:3px;top:64px;width:77px;height:27px;border-radius: 13px;
background:#d2e8d9;color:#777777;text-align: center;line-height: 27px; }
.pageMain .list div i{transition: all .6s ease;-moz-transition: all .6s ease;-webkit-transition: all .6s ease;
-o-transition: all .6s ease;position: absolute;right:106px;top: 84px;;width:32px;height:22px; background:url(../img/news_arrow.png) no-repeat;opacity: 0;}
.pageMain .list div h3{ font-size: 24px; font-weight: 500; }
.pageMain .list div h3 em{font-size: 14px;color: #7d7d7d;}
.pageMain .list div p{ font-size: 14px;  width:1000px; line-height: 28px;margin-top: 10px;color: #7d7d7d;}



/* public::footer */
.footer{background: #2a302e;}
.footer-wrap{width:1280px;min-width:1280px;margin:0 auto;padding: 50px 0;}
.footer-wrap a,.footer-wrap p,.zg{color:#95a7a3;font-size:12px;display:inline-block}
.footer-logo-box{height:100px;display:inline-block;vertical-align:middle}
.footer-logo{margin-right:25px;vertical-align:middle;width: 200px;}
.footer-des{height:160px;width:800px;margin-left:20px;display:inline-block;vertical-align:middle}
.footer-des a,.footer-v-line{margin:0 5px 0 0;vertical-align:middle}
.footer-v-line{font-size:12px;margin-right:5px}
.copyright-wrap{margin-top:15px}
.copyright{margin-right:20px;font-size:12px}



.list-content{width:1400px;margin:0 auto;overflow:hidden}
.list-content .list-picture,.container-colleagues .container-list .list-content .list-picture{position:relative;margin-top:15px;margin-bottom:200px}
.list-content .list-picture ul,.container-colleagues .container-list .list-content .list-picture ul{overflow:hidden}
.list-content .list-picture ul .picture-item,.container-colleagues .container-list .list-content .list-picture ul .picture-item{position:relative;border:solid 2px #333;overflow:hidden;cursor:pointer;margin-bottom:15px;-webkit-box-sizing:border-box;box-sizing:border-box;float:left;background-repeat:no-repeat;background-size:cover;background-position:50% 50%}
.list-content .list-picture ul .picture-item:nth-child(12n+9),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+9),.list-content .list-picture ul .picture-item:nth-child(12n+10),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+10),.list-content .list-picture ul .picture-item:nth-child(12n+11),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+11),.list-content .list-picture ul .picture-item:nth-child(12n+12),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+12){float:right}
.list-content .list-picture ul .picture-item:nth-child(12n+1),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+1),.list-content .list-picture ul .picture-item:nth-child(12n+9),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+9){width:339px;height:570px}
.list-content .list-picture ul .picture-item:nth-child(12n+2),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+2),.list-content .list-picture ul .picture-item:nth-child(12n+7),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+7){width:509px;height:265px}
.list-content .list-picture ul .picture-item:nth-child(12n+3),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+3),.list-content .list-picture ul .picture-item:nth-child(12n+8),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+8){width:523px;height:265px}
.list-content .list-picture ul .picture-item:nth-child(12n+4),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+4),.list-content .list-picture ul .picture-item:nth-child(12n+5),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+5),.list-content .list-picture ul .picture-item:nth-child(12n+11),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+11),.list-content .list-picture ul .picture-item:nth-child(12n+12),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+12){width:378px;height:291px}
.list-content .list-picture ul .picture-item:nth-child(12n+6),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+6),.list-content .list-picture ul .picture-item:nth-child(12n+10),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+10){width:263px;height:291px}
.list-content .list-picture ul .picture-item:nth-child(12n+1),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+1){margin-right:14px}
.list-content .list-picture ul .picture-item:nth-child(12n+9),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+9){margin-left:14px}
.list-content .list-picture ul .picture-item:nth-child(12n+2),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+2),.list-content .list-picture ul .picture-item:nth-child(12n+7),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+7){margin-right:15px}
.list-content .list-picture ul .picture-item:nth-child(12n+5),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+5),.list-content .list-picture ul .picture-item:nth-child(12n+11),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(12n+11){margin:0 14px}
.list-content .list-picture ul .picture-item .picture-item-stroke,.container-colleagues .container-list .list-content .list-picture ul .picture-item .picture-item-stroke{position:absolute;left:1px;top:1px;right:1px;bottom:1px;border:solid 1px #6dfbfb}
.list-content .list-picture ul .picture-item .picture-item-mask,.container-colleagues .container-list .list-content .list-picture ul .picture-item .picture-item-mask{display:none;position:absolute;width:100%;height:100%;left:0;top:0;background-color:rgba(0,0,0,0.58)}
.list-content .list-picture ul .picture-item .picture-item-mask .mask-title,.container-colleagues .container-list .list-content .list-picture ul .picture-item .picture-item-mask .mask-title{position:absolute;left:0;bottom:0;background-color:rgba(0,0,0,0.6);width:100%;height:48px;line-height:48px;color:#ffffff;text-align:center;word-break:break-all;white-space:nowrap;overflow:hidden}
.list-content .list-picture ul .picture-item .picture-item-mask .mask-icon,.container-colleagues .container-list .list-content .list-picture ul .picture-item .picture-item-mask .mask-icon{position:absolute;left:50%;top:50%;margin-left:-37px;margin-top:-37px;width:74px;height:74px;background:url(../img/image-detail.png)}
.list-content .list-picture ul .picture-item:hover .picture-item-mask,.container-colleagues .container-list .list-content .list-picture ul .picture-item:hover .picture-item-mask{display:block}
.list-content .list-picture ul .picture-item:nth-child(1),.container-colleagues .container-list .list-content .list-picture ul .picture-item:nth-child(1){width:339px;height:570px}
.activation{
	position: relative;
	text-align: center;
    z-index: 1;
}

.activation_image_wrapper{
	display: inline-block;
}

.activation_image_wrapper .default{
	display: inline-block;
}
.activation_image_wrapper .hidden{
	display: none;
}

.activation_image_wrapper:hover .default{
	display: none;
}
.activation_image_wrapper:hover .hidden{
	display: inline-block;
}


.hl_yy_logo{width:453px;margin: 0 auto;padding-bottom: 20px;}
.yuyue_box{width: 550px!important;background:none!important;box-shadow: none!important;border-radius: 5px!}
.yuyue_box .layui-layer-close2{right: -10px!important;top: 128px!important;}
.yy_box{width: 550px;height: 648px;background:url(../img/yy_bg.png) no-repeat;}
.yy_box .ulist{width: 320px;margin: 0 auto;padding-top: 100px;}
.yy_box .ulist ul li{cursor: pointer; width: 320px;height: 55px;border: 1px solid #ccc;margin-bottom: 35px;line-height: 55px;text-align: center;border-radius: 5px;font-size: 18px;position: relative;}
.yy_box .ulist ul li span{width: 18px;height: 18px;border: 1px solid #ccc;border-radius: 50%;display: inline-block;position: absolute;top: 17px;left: 20px;}
.yy_box .ulist ul .active{background: #373634; color: #ffffff;border:  1px solid #373634; }
.yy_box .ulist ul .active span{background:url(../img/dui.png) no-repeat;border: 0;}
.yy_box .ulist .sum_btn{    cursor: pointer;margin-top: 100px;width: 320px;height: 55px;background: #373634;border:  1px solid #373634; color: #ffffff;margin-bottom: 35px;line-height: 55px;text-align: center;border-radius: 5px;font-size: 18px;}
.yy_box .ulist .sum_btn:hover{background: #fa8b1e;border: 1px solid #fa8b1e;}
.yy_box .login_box{width: 320px;margin: 0 auto;padding-top: 100px;}
.yy_box .login_box .sum_btn{ cursor: pointer;margin-top: 50px;width: 320px;height: 55px;background: #373634; border:  1px solid #373634; color: #ffffff;margin-bottom: 35px;line-height: 55px;text-align: center;border-radius: 5px;font-size: 18px;}
.yy_box .login_box .sum_btn:hover{background: #fa8b1e;border: 1px solid #fa8b1e;}
.yy_box .login_box .login_tit{font-size: 18px;border-bottom: 4px solid #446c32; color: #446c32;height: 60px;line-height: 60px;}
.yy_box .login_box .hl_input{height: 60px;line-height: 60px;border:0;border-bottom: 1px solid #446c32; width: 100%;font-size: 18px;color: #446c32;}
.yy_box .login_box .hl_yzm{position: relative;}
.yy_box .login_box .send_yzm{position: absolute;bottom: 20px;right:0px;color: #446c32;}
.yy_box .login_box .send_yzm .hl_send{border: 0; background:none;font-size: 16px;color: #446c32;cursor: pointer;}
.yy_box .login_box .send_yzm .f_c{color: #cccccc;}
.yy_box .yyuyue{text-align: center;}
.yy_box .ulist .yyuyue .sum_btn{margin-top: 10px;}
.yy_box h2{text-align: center;font-size: 30px;margin: 10px 0; color: #373534;}
.yy_box p{text-align: center;font-size: 14px;line-height: 28px; color: #373534;}
.active_box{
	width: 550px;height: 448px;background: url(../img/yy_bg.png) no-repeat;background-size: 100% 100%;
}
.active_box .form_group{
	width: 375px;margin: 0 auto; padding-top: 80px;text-align: center;
}

.active_box .form_group .title{
	color: #373634;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 28px;
}

.active_box .form_group .code-input{
	margin-top: 12px;
	    height: 40px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #446c32;
    width: 100%;
    font-size: 18px;
    color: #446c32;
    text-align: center;
}
.active_box .form_group .active_box_sumbit{
    display: inline-block;
    margin-top: 50px;
    width: 320px;
    height: 55px;
    background: #373634;
    border: 1px solid #373634;
    color: #ffffff;
    margin-bottom: 35px;
    line-height: 55px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
	cursor: pointer;

}

.active_box .form_group .active_msg{
    margin-top: 32px;
	font-size: 18px;
    text-align: center;
    color:#5f5f5f;
}
.side_box{width: 205px;height: 639px;position: fixed;left: 0;top:150px;background:url(../img/side_bg.png) no-repeat;z-index: 999;display: none;}
.side_box .huli{width: 280px;position: absolute;left: -20px;}
.side_box .huli img{width: 100%;}
.side_box .ewm{background: #fff;border-radius: 5px;padding: 8px;width: 154px;margin: 0 auto;margin-top: 185px;}
.side_box .ewm img{width: 100%;}
.side_box .ewmtxt{color: #fff;font-size: 18px;text-align: center;margin: 5px auto;}
.side_box .kf_box{width: 180px;height: 48px;background: #fff;border-radius: 30px;line-height: 45px;font-size: 16px;border: 1px solid #239f5e;margin: 0 auto;margin-bottom: 8px;}
.side_box .kf_box em{width: 32px;height: 32px;float: left;margin-top: 6px;    margin-left: 20px;}
.side_box .kf_box p{display: inline-block;height: 32px;margin-top: 6px;line-height: 32px;margin-left: 8px;}
.side_box .kf_box .qqun{line-height: 18px;width: 100px;}
.side_box .kf_box em.qq{background:url(../img/qq.jpg) no-repeat;}
.side_box .kf_box em.bili{background:url(../img/bili.jpg) no-repeat;}
.side_box .kf_box em.weibo{background:url(../img/weibo.jpg) no-repeat;}
.side_box .kf_box em.tap{background:url(../img/TapTap.jpg) no-repeat;}
.sideFix{display: block;}

.dede_pages{margin-top: 30px;}
.dede_pages ul{text-align: center;}
.dede_pages ul li{display: inline-block;font-family:Tahoma;line-height:17px;margin-right:6px;font-size: 18px;}
.dede_pages ul li a{display: inline-block;padding:2px 4px 2px;color:#555;display:block;font-size: 18px;}
.dede_pages ul li a:hover{color:#690;text-decoration:none;padding:2px 4px 2px}
.dede_pages ul li.thisclass,.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{padding:2px 4px 2px;font-weight:bold;font-size: 18px;}
.dede_pages .pageinfo{line-height:21px;padding:12px 10px 12px 16px;color:#999}
.dede_pages .pageinfo strong{color:#555;font-weight:normal;margin:0px 2px}


.layui-layer{left:50%!important;top:50%!important;transform: translate(-50%, -50%);}
video{background: #000;}
.musicdefault {
	animation: rotate 1.2s linear infinite;
	-moz-animation: rotate 1.2s linear infinite;
	-webkit-animation: rotate 1.2s linear infinite;
	-ms-animation: rotate 1.2s linear infinite;
}
@keyframes rotate{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
@-moz-keyframes rotate{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
@-webkit-keyframes rotate{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
@-ms-keyframes rotate{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
